body {
  font-family: Arial, Helvetica, sans-serif;
}

.mobile-container {
  max-width: 480px;
  margin: auto;
  background-color: #555;
  height: 500px;
  color: white;
  border-radius: 10px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
    background-color: #0571b9;
    color: white;
  }
  footer {
    background-color: #333;
    text-align: left;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    float: inline-end;
}

nav.footer-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10;
}

nav.footer-navbar li.navitem {
    display: inline;
    margin: 0 20px;
}

nav.footer-navbar li.navitem a {
    text-decoration: none;
    color: white;
    font-weight: bold;
} 
/* ... (bestaande stijlen) ... */

/* Dropdown */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}